@font-face {
  font-family: "TT Autonomous";
  src: url("../fonts/TT Autonomous Educational Variable.ttf") format("truetype");
  font-weight: 100 800; /* диапазон весов */
  font-style: oblique 0deg 13deg; /* диапазон углов наклона */
}

/* MONO */
/* mono regular */
@font-face {
  font-family: "TT Autonomous Mono";
  src: url("../fonts/TT Autonomous Mono Educational Variable Roman.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

/* mono italic */
@font-face {
  font-family: "TT Autonomous Mono";
  src: url("../fonts/TT Autonomous Mono Educational Variable Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* outline */
@font-face {
  font-family: "TT Autonomous Outline";
  src: url("../fonts/TT Autonomous ExtraBold Outline Educational.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* reverse */
@font-face {
  font-family: "TT Autonomous Reverse";
  src: url("../fonts/TT Autonomous Reverse Educational ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
